<header class="header">
    <h6 class="border cursor"
        (click)="chooseATarif ()">
            Все каналы ({{channels.length}})
    </h6>
    <h6 
        class="border cursor" 
        *ngFor="let tariff of tariffs"
        (click)="chooseATarif ( tariff )">
            {{tariff.name}}({{tariff.allChannels.length}})
    </h6>
</header>
<div class="channels-wrap">
    <p class="channels" *ngFor="let channel of currentChannels">{{channel.name}}</p>
    <select 
        class="channel-select"
        [value]="numberOfChannels"
        (change)="chooseNumberOfChannels( $any($event.target).value )">
        <option value="10">10 каналов</option>
        <option value="20">20 каналов</option>
        <option value="30">30 каналов</option>
        <option value="50">50 каналов</option>
    </select>
    <div class="channel-items">
        <button
            class="channel-item"
            *counter="let item of pageListNumber"
            (click)="choiseCurrentPageList(item)"
            [class.active]="item == currentPageList">{{item}}</button>
    </div>
</div>